#nav-bar {
  background-color: #00a887;
  color: #e8fdff;
  height: 80px;
  width: 100%;
  overflow: auto;
  padding: 0 2em 0 2em;
  position: fixed;
  top: 0;
  text-align: center;
  z-index: 1;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .nav-section {
  display: inline;
}

.auth * {
  display: inline;
}

#nav-bar div.logged-in-avatar {
  padding: 5px;
  margin: 10px;
  background-color: transparent;
  display: inline-block;
  border-radius: 5px;
  border: solid 2px white;
}

#nav-bar div.logged-in-avatar img{
  height: 50px;
  width: 50px;
}

#nav-bar .header {
  float: left;
  font-size: 2em;
  margin-top: 0.5em; /* Line Height */
}

.compose {
  float: right;
  margin-top: 20px;
}

.compose button {
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  border-color: transparent;
  color: #00a887;
}